<p>
  <%= @greeting %> <b> <%= "" + @req.requestby %> </b>,
</p>
  <br>
  <br>
<p>
We are pleased to inform you that your Booking for conference room
has been successfully cancelled.
  <br>
  <br>

<br>
<br>

<br>

<p> Best regards,</p>