<%= render 'myform1', request: @request do  %>

                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                          <div class="controls col-md-4 ">
                     
                               
                            </div>
                                                        <div class="controls col-md-4 ">
                                <a type="button" href="<%= admin_index_url %>" name="Signup" value="Back" class="btn btn-default" id="submit-id-signup">Back </a>
                               
                            </div>
                        </div> 
                            
                            <% end %>


